body {
    font-family: "LXGW WenKai Screen", sans-serif !important;
}
html[data-theme='light'] :root,
html[data-theme='light'] [data-theme] {
    background-color: transparent;
}
html[data-theme='dark'] :root,
html[data-theme='dark'] [data-theme] {
    background-color: var(--fallback-b1, oklch(var(--b1) / 1));
}
html[data-theme='dark'].noise body::before {
    background-image: url(https://image-review.jsdmirror.com/gh/mx-space/docs-images@master/images/chichi-1.jpeg)!important;
    opacity: 0.1;
}
html[data-theme='light'].noise body::before {
    background-image: url(https://image-review.jsdmirror.com/gh/mx-space/docs-images@master/images/chichi-1.jpeg)!important;
    opacity: 0.2;
}
